body {
    background-color: #f2f2f2;
}

.row {
    float: left;
    width: 90%;
}

.name {
    float: left;
    text-align: left;
    width: 10%;
}

.value {
    float: right;
    text-align: right;
    width: 90%;
}

.music {
    text-align: center;
}

.song {
    width: 200px;
    height: 280px;
    margin: 10px;

    background-color: #f7eb6c;
    float: left;
    border: 1px solid;
}

.song-image {
    width: 200px;
    height: 200px;

    background: white;
    float: left;
}

.section {
    background-color: white;
    float: left;
    border: 1px solid;

    padding: 0;
    margin: 5%;
    width: 90%;
    overflow: visible;
    display: block;
}
